<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
</head>
<body>
<div class="hero-container">
    <div class="hero-text">
        <div class="subtitle">LEARN MORE</div>
        <div class="title">About CulturEdge</div>
        <div class="first">CulturEdge is your digital gateway to Macedonia's cultural treasures. As a web application, we've crafted an interactive platform that seamlessly integrates with Open Street Map to map and explore the diverse cultural, historical, and religious monuments in Macedonia.</div>
        <div class="second">Our mission is to provide users with an uninterrupted and engaging experience, allowing them to uncover the rich tapestry of cultural heritage our country holds. From city-specific exploration to efficient filtering and proximity sorting, CulturEdge is your key to discovering and appreciating the unique history and architecture of Macedonia. Join us on this cultural journey as we make the exploration of our heritage simple, accessible, and enriching.</div>
    </div>
</div>
</body>
