<div class="container" #container>
    <div class="side">
        <form>
            <input [(ngModel)]="queryName" (ngModelChange)="change()" type="text" name="name"  class="custom-form" placeholder="Name of Object">
            <input [(ngModel)]="queryType" (ngModelChange)="change()" type="text" name="type"  class="custom-form" placeholder="Type of Object">
            <input [(ngModel)]="queryType" (ngModelChange)="change()" type="text" name="type"  class="custom-form" placeholder="City or Town">
        </form>
        <h1>Results</h1>
        <div>Check out the cultural heritage of your area.</div>
        <div class="results">

            <div *ngFor="let result of filteredSites" class="result">
                <div class="result-content" (click)="sideElementClick(result.name,[result.lon,result.lat])" >
                    <img src="https://www.svgrepo.com/show/38705/location-pin.svg" alt="Location Pin Image" style="width: 30px; height: 40px;">
                    <div class="result-details">
                    <h6>{{result.name}}</h6>
                    <span *ngIf="result.historic != null">{{this.englishToMacedonian[result.historic]}}</span>
                    <span *ngIf="result.tourism != null">{{this.englishToMacedonian[result.tourism]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mapdiv"></div>
</div>