@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

#mapdiv {
    min-width: 60vw;
    flex-grow: 2;
}
.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    height: calc(100vh - 120px);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
input {
    border-radius: 5px;
    width: 80%;
    padding: 7px;
    background-color: lightgrey;
    border: none;
    margin-bottom:20px;
    display: block;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #8BB8B0;
    font-weight: 100;
}

h6,span {
    margin:4px;
    padding:5px;
}
h6 {
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color : #535353;
    font-weight: 400;
}
span {
    font-size: smaller;
}
.result {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: white;
    color: #8F8E8E;
    font-weight: 300;
    border-bottom: 1px solid #000;
}
.results {
    height: 550px;
    overflow: scroll;
}
.side {
    margin: 20px;
}
.result-content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.custom-form{
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.result-content img {
    margin-right: 10px;
    padding-top: 10px;
}

.result-details {
    flex: 1;
    position: relative;
}

.text{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

.city {
    right: 5px;
    bottom: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: #8F8E8E;
    font-weight: 300;
}