@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@500&display=swap');

#mapdiv {
    min-width: 60vw;
    flex-grow: 2;
}
.container {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    height: calc(100vh - 120px);
    overflow: hidden;
}
input {
    border-radius: 5px;
    width: 80%;
    padding: 7px;
    background-color: lightgrey;
    border: none;
    margin-bottom:20px;
    display: block;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: #8BB8B0;
    font-weight: 100;
}

h6,span {
    margin:4px;
    padding:5px;
}
h6 {
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color : #535353;
    font-weight: 400;
}
span {
    font-size: smaller;
}
.result {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: white;
    color: #8F8E8E;
    font-weight: 300;
    border-bottom: 1px solid #000;

}
.results {
    height: 550px;
    overflow: scroll;

}
.side {
    margin: 20px;
}
.result-content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.custom-form{
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;

}

.result-content img {
    margin-right: 10px;
    padding-top: 10px;
}

.result-details {
    flex: 1;
}

.text{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

