@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    border: 20px solid #8BB8B0;
    border-radius: 50px;
    color: #33484E;
    background: #B9DBD5;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}

h1 {
    color: #33484E;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #33484E;
}


.content-box {
    margin-bottom: 30px;
    font-size: 0.7em;
}