<body>
</body>


<footer class="site-footer">
    <div class="contact-column">
        <h1>Contact Us</h1>
        <span><b>E-Mail: </b>  <a href="mailto:culture.edge@mk.com"> culture.edge@mk.com</a></span><br> <br>
        <span><b>Phone Number: </b><a href="tel:+38923091525">+389 2 309 1 525</a><br><a href="tel:+38970555345">+389 70 555 345</a></span>
    </div>

    <div class="help-column">
        <h1>Help</h1>
        <span><a [routerLink]="['/faq']"><b>FAQ</b></a></span><br><br>
        <span><a [routerLink]="['/feedback']"><b>Feedback</b></a></span>
    </div>

    <div class="policy-column">
        <br>
        <span><a [routerLink]="['/privacyandterms']">Privacy Policy</a></span><br><br>
        <span><a [routerLink]="['/privacyandterms']">Terms and Conditions</a></span>
    </div>
</footer>