body {
    margin: 0;
    padding: 0;
    background-image: url('https://architexturez.net/data/styles/large/public/media/brutalism-monument-ilinden-makedonium-krushevo-macedonia.jpg?itok=a1Uc-uYB');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
