<body>
<h1><b>Frequently Asked Questions</b></h1>
<div class="faq-container">

    <div>
        <b>
    Q1: How can I use CulturEdge to explore specific cities?
    <br>
    A:</b> Simply select the cities you're interested in, choose heritage categories, and input locations using either manual entry or location services. CulturEdge's efficient filtering and sorting will then present you with relevant architectural objects, sorted by proximity to your location, utilizing Google Street Map functionality.
    <br>
        <b>
    Q2: How frequently is CulturEdge updated with new locations?
    <br>
    A: </b>We strive to regularly update CulturEdge with new locations and information to ensure our users have access to the latest cultural and historical discoveries in Macedonia. Stay tuned for exciting additions!
    <br>
        <b>
    Q3: Is CulturEdge available in multiple languages?
    <br>
    A: </b>Currently, CulturEdge is available in English. We are actively working on expanding language support to cater to a broader audience.
    <br> <b>
    Q4: </b>How do I report technical issues or provide feedback?
    <br>
    A: If you encounter technical issues or have feedback, please reach out to our support team through the contact form on our website. We appreciate your input as it helps us enhance the user experience.
    <br>
    </div>
</div>
</body>