@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


.faq-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 20px solid #8BB8B0;
    border-radius: 50px;
    text-align: left;
    background: #B9DBD5;
    color: #33484E;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #33484E;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;


}

body {
    padding-top: 5%;
    margin-bottom: 7%;
}
