.faq-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 20px solid #8BB8B0;
    border-radius: 50px;
    text-align: left;
    background: #B9DBD5;
    color: #33484E;
    font-size: x-large;
    font-family: 'DM Sans', sans-serif;

}

h1 {
    text-align: center;
    color: #33484E;
    font-size: 3em;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

body {
    padding-top: 40px;
}