body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #89B7B0;
    padding: 10px 50px;
    font-family: 'DM Sans', sans-serif !important;
}

.buttons {
    margin-left: 20px;
}

.logo,
.buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.buttons > button {
    margin: 20px;
    border-radius: 5px;
    border: none;
    color: #5C8980;
    font-size: large;
    height: 50px;
    padding-inline: 15px;
    cursor: pointer;
}

.buttons > button:active{
    background-color: #5C8980;
    color: #ffffff;
}
.buttons > button:focus {
    background-color: #5C8980;
    color: #ffffff;
}

.buttons > button:hover {
    color: #89B7B0;
    background-color: #5C8980;
}

button {
    font-family: inherit;
    outline: none; /* Remove default focus outline */
}
