<div class="container">
    <div class="logo">
        <img class="pic" src="assets/logo.png" alt="">
        <img class="letters" src="assets/letters.png" alt="">
    </div>
    <div class="buttons">
        <button [routerLink]="['/map']" >Maps & Search</button>
        <button [routerLink]="['/about']" >About Us</button>
        <div class="language-selector">
            <button>Language</button>

            <!-- Dropdown Content -->
            <div class="dropdown-content">
                <button class="language">English (EN)</button>
                <button class="language">Macedonian (MK)</button>
            </div>
        </div>

    </div>

</div>