<div class="container">
    <div class="arrow"></div>
    <span class="name">{{placeName}}</span>
    <img [src]="pictureUrl" alt="">
    <form *ngIf="editMode" (ngSubmit)="onSubmit()">
        <textarea class="desc-input" type="text" name="desc" id="" [(ngModel)]="description"></textarea>
        <input type="file" name="file" (change)="onFileChanged($event)">
        <input class="save-button" type="submit" value="Save">
    </form>
    <div *ngIf="!editMode">
        <div class="description">{{description}}</div>
        <button (click)="editMode = true">Edit</button>
    </div>
    <div></div>
</div>