@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
    object-fit: contain;
    margin: 10px 0;
    border: 10px solid #8BB8B0;
    border-radius: 20px;
}
.name {
    font-size: x-large;
    display: block;
    font-family: 'DM Sans', sans-serif;
    color: #33484E;
    font-weight: bold;
    letter-spacing: 0.05em;

}
input {
    display: block;
}
.container {
    background: #B9DBD5;
    padding: 10px;
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    color : #33484E;
    font-weight: 400;
    border: 15px solid #8BB8B0;
    border-radius: 0px 10px 10px 10px;
    width: 30vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.arrow {
	width: 0;
	height: 0;
	border-bottom: 20px solid #8BB8B0;
	border-right: 20px solid transparent;
    top:2px;
    left:0px;
    position: absolute;

}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
button, .save-button {
    border-radius: 5px;
    border: none;
    background-color:#8BB8B0;
    color: #B9DBD5;
    font-size: large;
    padding: 10px;
    margin-top: 2px;
}
.desc-input {
    width: calc(100% - 10px);
    resize: none;
    height: 100px;
}
.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.photo-input {
    display: none;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}